.header {
  width: 100%;
  background-color: #1e3c72;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  color: #ffffff;
}
.actions {
  margin-right: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
h5 {
  margin-bottom: 0 !important;
}
