.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, #1e3c72 5%, #2a5298 90%);
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.register {
  width: 100%;
  border-top: 1px solid blue;
}
