.chat-content {
  background-color: red;
  padding: 2% 10%;
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  width: 80%;
  //   max-height: 80%;
}
.chat-message-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //   gap: 1rem;
  width: 100%;
  background-color: orange;
  max-height: 50%;
  .chat-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 1rem;
  }
}
.send-chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0.5rem 1rem;
  gap: 1rem;
}
